.container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 100vh;
    font-family: Arial, sans-serif;
  }
  
  h1 {
    margin-bottom: 30px;
  }
  
  .player {
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  
  .controls {
    margin-top: 20px;
  }
  
  button {
    background-color: transparent;
    border: none;
    cursor: pointer;
    outline: none;
    margin: 0 10px;
    width: 60px;
    height: 60px;
    background-size: 50%;
    background-repeat: no-repeat;
  }
  
  .play {
    background-color: black;
    color: white;
    border-radius: 10px;
  }
  .play:hover {
    background-color: blue;
    color: white;
  }
  .skip:hover {
    background-color: blue;
    color: white;
  }
  .pause:hover {
    background-color: blue;
    color: white;
  }
  .pause {
     background-color: black;
    color: white;
    border-radius: 10px;
  }
  
  .skip {
     background-color: black;
    color: white;
    border-radius: 10px;
  }
  